# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [2]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [3]:
drinks.groupby('continent')['beer_servings'].mean().sort_values(ascending=False)

continent
EU    193.777778
SA    175.083333
OC     89.687500
AF     61.471698
AS     37.045455
Name: beer_servings, dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [4]:
drinks.groupby('continent')['wine_servings'].mean().sort_values(ascending=False)

continent
EU    142.222222
SA     62.416667
OC     35.625000
AF     16.264151
AS      9.068182
Name: wine_servings, dtype: float64

### Step 6. Print the mean alcohol consumption per continent for every column

In [5]:
drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean().sort_values(ascending=False)

continent
EU    8.617778
SA    6.308333
OC    3.381250
AF    3.007547
AS    2.170455
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [6]:
drinks.groupby('continent')['total_litres_of_pure_alcohol'].median().sort_values(ascending=False)

continent
EU    10.00
SA     6.85
AF     2.30
OC     1.75
AS     1.20
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [7]:

summary = pd.DataFrame({
    'mean': [drinks['spirit_servings'].mean()],
    'min': [drinks['spirit_servings'].min()],
    'max': [drinks['spirit_servings'].max()]
})
summary

        mean  min  max
0  80.994819    0  438